/* COLORS */
$blue1: #1e5792;

$black1: #000000;

$white1: #FFFFFF;

$header-height: 60px;
$header-width: 100%;
$header-color: $white1;
$header-background: $blue1;

$footer-height: 20px;
$footer-width: 100%;
$footer-color: $white1;
$footer-background: $black1;
$footer-size: 10px;