/* You can add global styles to this file, and also import other style files */
@import '/src/assets/theme/variables.scss';

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.fill-x-y {
    height: 100%;
    width: 100%;
}

.fill-x {
    width: 100%;
}

.fill-y {
    height: 100%;
}

.fill-content-x {
    width: 100vw;
}

.fill-content-y {
    height: calc(100vh - #{$header-height} - #{$footer-height});
}

.fill-content-x-y {
    height: calc(100vh - #{$header-height} - #{$footer-height});
    width: 100vw;
}
